
<div class = "row" style="height:100px;">
</div>
<div class = "row" >


  <div ng-repeat="row in rows">
    <div ng-repeat="fixer in row">
      <div class="col-md-6" >
        <div class="row">
          <div class="col-md-4">
            <img ng-src ="{{fixer.perfil}}" style="display: block; max-width:100%; max-height:100%; width: auto; height: auto;">
          </div>
          <div class="col-md-8">
            <div class = "row">
              <div class=" titulo col-md-12" style="font-size: 25px; color: white;" align="left">
                {{fixer.name}}
              </div>
            </div>
            <div class = "row" style="height:15px;">
            </div>
            <div class = "row">
              <div class ="col-md-1" ng-repeat="i in getEstrellas(fixer.estrellas) track by $index">
                <span class="fa fa-star checked" style="padding-top: 1px; font-size:18px; "></span>
              </div>
              <div class ="col-md-1" ng-repeat="i in getNoEstrellas(fixer.estrellas) track by $index">
                <span class="fa fa-star no-checked" style="padding-top: 1px; font-size:18px; "></span>
              </div>

            </div>
            <div class = "row">
              <div class = "col-md-12" style="font-family:'Trebuchet MS', monospace;    font-size: 18px; color: grey;" align="left">
                {{fixer.descripcion}}
              </div>
            </div>
            <div class = "row" style="height:15px;">
            </div>
            <div class = "row">
              <div class = "col-md-12">
                <div align = "left">
                  <a  class="btn btn-premier botonCaja" style="text-align:center;" ng-href="/escribir-referencia/{{ fixer._id }}" >
                    <span  >Escribir referencia</span>
                  </a>
                </div>
              </div>

            </div>
          </div>

        </div>
        <div class = "row" style="height:50px;">
        </div>
      </div>
    </div>

  </div>

</div>
</div>
