<div class=" row titulo" style="font-size: 30px; color: black" align="center">
  Escoja el tipo de servicio que desea solicitar
</div>
<div class = "row" style="height:150px;">
</div>


<div class = "container">

  <div class = "row  col-md-5 centroImagenD">
    <a href="/nuevoServicio/albanileria" > <img src="../../assets/img/alba.png" width="200" height="200"> </a>
  </div>
  <div class = "col-md-2">
  </div>
  <div class = "col-md-5 centroImagenI">
    <a href="/nuevoServicio/albanileria" > <img src="../../assets/img/carp.png" width="200" height="200"> </a>
  </div>
</div>
<div class = "row" style="height:50px;">
</div>
<div class = "container">
  <div class = "row  col-md-5 centroImagenD">
    <a href="/nuevoServicio/albanileria" > <img src="../../assets/img/elec.png" width="200" height="200"> </a>
  </div>
  <div class = "col-md-2">
  </div>
  <div class = "col-md-5 centroImagenI">
    <a href="/nuevoServicio/albanileria" > <img src="../../assets/img/jard.png" width="200" height="200"> </a>
  </div>
</div>

<div class = "row" style="height:50px;">
</div>

<div class = "container">
  <div class = "row  col-md-5 centroImagenD">
    <a href="/nuevoServicio/albanileria" > <img src="../../assets/img/pint.png" width="200" height="200"> </a>
  </div>
  <div class = "col-md-2">
  </div>
  <div class = "col-md-5 centroImagenI">
    <a href="/nuevoServicio/albanileria" > <img src="../../assets/img/plom.png" width="200" height="200"> </a>
  </div>
</div>
