
<div class="container" style = " width:400px;">
  <div class="container" style = "background-color:#000; width:400px;  height:75px;  border:2px solid #8e0b0b;    border-radius: 2px;">
    <div class="row">
      <div class="  titulo" style="font-size: 30px; color: white" align="center">
        Servicio en espera
      </div>
    </div>
  </div>
  <div class = "row" style="height:100px;">
  </div>


  <div class=" row titulo" style="font-size: 23px; color: black" align="left">
    <label for="direccion" align = "center">
      Tipo:
    </label>
  </div>
  <div class=" row titulo" style="font-size: 23px; color: black" align="left">
    <label for="direccion" align = "center">
      Albañilería
    </label>
  </div>


  <div class = "row" style="height:75px;">
  </div>
  <div class=" row titulo" style="font-size: 23px; color: black" align="left">
    <label for="direccion" align = "center">
      Estado:
    </label>
  </div>
  <div class=" row titulo" style="font-size: 23px; color: black" align="left">
    <label for="direccion" align = "center">
      En espera
    </label>
  </div>
  <div class = "row" style="height:75px;">
  </div>
  <div class=" row titulo" style="font-size: 23px; color: black" align="left">
    <label for="direccion" align = "center">
      Cliente:
    </label>
  </div>
  <div class=" row titulo" style="font-size: 23px; color: black" align="left">
    <label for="direccion" align = "center">
      Juan Perez
    </label>
  </div>
</div>
